body
  padding: 50px
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.row .frame
	border: 1px solid #DFDFDF;
	min-height: 500px;
.player-image 
	margin: 14px 0 0 0;

.player-info
	color: black

.player-title
	font-family: 'Varela Round', sans-serif;

.player-title .player-info
	display: table
	padding: 22px 0 0 0;

.bold
	font-weight: bold;

.player-info div
	display: table-cell;
	padding-right: 6px;
.full-width
	width: 100%;
.white
	color: #fff

.separator
	border-right: 1px solid rgb(233, 233, 233);
	min-height: 500px;