<div class='player'>
	<div class='player-title'>
        <div class='col-xs-12'>
			<div class='player-info player-name'>
			<div class='bold col-xs-12' ng-bind='userProfile.name'></div>
		<div class='col-xs-6'>
			<div class='player-image'>
				<img ng-src='{{userProfile.picture}}' />
			</div>
		</div>
		<div class='col-xs-6'>
			<select ui-select2 ng-model="player2" data-placeholder="Pick a player" style='padding-top:20px'>
					<option value=""></option>
					<option data-ng-repeat='player in players' value="{{player}}" data-ng-bind='player.name'>First</option>
			</select>
			<div class='player-info'>
				<!-- <div class='bold' ng-bind='userProfile.name'></div> -->
				<!-- Akhil please change this to proper one -->
			</div>
			<div class='player-info'>
				<div class='full-width' ng-bind='currentPlayer.skill'></div>
			</div>
		</div>
		<div class='col-xs-12'>
            <div class='player-info base-price'>
				<div class='btn-primary btn white text-glow'>
					<div class='bold'>Base Price:</div>
					<div ng-bind='currentPlayer.baseprice'></div>
				</div>
			</div>

		</div>
	</div>
</div>