extends ../shared/layout
block scripts
	script.
		var teamname = "#{team.teamName}";
	script(src='/javascripts/geca-angular-app/controllers/bidderController.js')
block content	
	div(ng-controller='bidderController')
		if(team.teamName)
			div.team-name
				h1 #{team.teamName}
		include ../includes/display
		