extends ../shared/layout
block scripts
	script(src='/javascripts/geca-angular-app/controllers/home.js')
	script(src='/javascripts/geca-angular-app/directives/player_profile.js')
block content
	div(ng-app='gecaApp',ng-controller='home')
		div.container-fluid
			div.row
				div.frame
					div.col-xs-7.separator
						user-profile
					div.col-xs-5
						bid

					